
body
{
	background-color: #dedede; 
	font-family: 'Lato', sans-serif; 
	margin: 0 !important;
}


#container
{
	width: 100%;
	margin-left: auto; 
	margin-right: auto;
	margin: 0px;
}


#topbar
{
	width:100%;
	background-color: #356595;
	color: white;
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	min-height: 120px;
}

#topbarL
{
	float:left; 
	padding: 20px;
	width: 138px; 
	text-align: center;
	
}

#topbarR
{
	float: left; 
	padding: 20px;
	font-size: 16px;
	text-align: justify; 
}



.menu
{
	background-color: #1D3652; 
	margin-top: 0px;
	color: #ffffff; 
	text-align: center;
	
}


.row
{
	display: flex; /*dzieki temu wszystkie divy zawarte w div'ach klasy row maja zawsze ta sama wysokosc*/
	
}

#sidebar
{
	float: left; 
	width: 15%;
	min-height: 520px;
	padding:20px;
	background-color: #75A2CE;
	text-align: center; 
	font-size: 18px;
	border-right: 2px dotted #888888;
}

#content
{
	float: left; 
	padding: 40px;
	width: 85%;
	background-color: #dedede;
	min-height: 580px;
	text-align: justify;
}

#footer
{
	clear: both; 
	color: white;
	text-align: center;
	padding: 20px;
	font-size: 18px;
	background-color: #1D3652;
}

.option
{
	
	min-width: 130px; 
	height: 25px; 
	font-size: 18px;
	padding: 20px;
	
	
	
	opacity: 0.8; 
	display: inline-block;
}



.option:hover
{
	background-color: #356595; 
	cursor: pointer; 
}

.optionL
{
	font-size:18px;
	height:25px;
	padding: 10px;
	border-bottom: 1px solid #444444;
}

.optionL:hover
{
	background-color: #356595;
	color: white;
	cursor: pointer; 
}


.bigtitle
{
	font-size: 32px;
	font-weight: 900;
	letter-spacing: 2px;
}

.dottedline
{
	height: 5px;
	margin-top: 15px;
	margin-bottom: 20px;
	border-bottom: 2px dotted #444444;
}


.imageLogo
{
	width:150px;
	height:75px;
}


a.buttonlink
{
	color: #ffffff; /*link ma byc zapisany czcionka koloru bialego - domyslnie jest to niebieski*/
	text-decoration: none;  /*brak podkreslenia linka*/

}

a.buttonlink2
{
	color: black; 
	text-decoration: none;  /*brak podkreslenia linka*/

}


.sticky
{
	width: 100%;
	position: fixed; 
	left: 0; 
	top: 0; 
	z-index: 100; 
}



/*formatowanie tabeli z wynikami wyszukiwania*/

table#table1 {
  border-collapse: collapse;
  width: 100%;
 
}

th {
  padding: 8px;
  text-align: left;
  border-bottom: 3px solid #356595; 
  border-top: 3px solid #356595; 
  color: #356595;
}



td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid black;
}

tr:hover {background-color:#f5f5f5;}


/*formatowanie obrazkow w tabeli*/
.dataTableImg {

	width:200px;
	height:120px;

}

.iconTableImg {
	opacity: 0.7;
}

.iconTableImg:hover {
	opacity: 1;
}




/* PODGLAD DOKLADNY OFERTY */

.detailedView1
{
	
	margin-left: 15%;
	margin-right: 15%;
	display: flex; 
	text-align: center;
	
	margin-top:30px;
}

.detailedView2
{
	
	margin-left: 15%;
	margin-right: 15%;
	display: flex; 
	text-align: center;
	margin-bottom:300px;
}

.detailedViewLeft
{
	float: left; 
	width: 70%;
	
	padding:10px;
	padding-top:20px;
	text-align: center; 
	font-size: 18px;
	
}

.detailedViewRight
{
	

	float: left; 
	padding: 10px;
	width: 30%;
	

	text-align: justify;
}


.detailedViewPhoto
{
	width:95%;
	text-align: center;
}







.descripton
{
	float: left; 
	width: 70%;
	min-height: 120px;
	padding:0px;
	padding-top:20px;
	text-align: center; 
	font-size: 18px;
	
	text-align: justify;
	line-height: 30px;
	border-top: 2px solid #1D3652;
	
	
}

.actionButtons
{
	

	float: left; 
	padding: 10px;
	width: 30%;
	
	text-align: center;

}



.backButton
{
	width:50%;
	min-width: 70px;
	padding: 12px;
	text-align: center;
	font-size: 20px;
	color: white;
	text-decoration: none;
	background-color: #3232FF;
	margin: 10px;

	border-radius: 7px; 
	font-weight: bold;
	display: inline-block;
}

.orderButton
{
	width:50%;
	min-width: 70px;
	padding: 12px;
	text-align: center;
	font-size: 20px;
	color: white;
	text-decoration: none;
	background-color: #00A000;
	margin: 10px;
	
	border-radius: 7px; 
	font-weight: bold;
	display: inline-block;
}

.backButton:hover
{
	background-color: #4343FF; 
	cursor: pointer; 
}

.orderButton:hover
{
	background-color: #00B400; 
	cursor: pointer; 
}

.specificationTitle
{
	padding: 8px;
	margin: 5px;
	font-size: 20px;
	font-weight: bold;
	border-bottom: 3px solid #444444;
	
}

.specification
{
	padding: 8px;
	margin: 5px;
	font-size: 15px;
	border-bottom: 1px solid #444444;
	
}




/*Formatowanie formularza wyszukiwania*/
#formularz
{
	background-color: white;
	
	
	width: 65%;
	
	
	
	
	padding: 60px;
	margin-left: auto; /*wysrodkowanie formularza*/
	margin-right: auto;
	margin-top: 50px;

	text-align: center;
	
	
	
	
}






form {
	
	display: inline-block;
	
}


input[type=text]
{
	width: 300px;
	background-color: #efefef;
	color: #888;
	border: 2px solid #ddd;
	border-radius: 5px; /*promien zagiecia obramowania*/
	font-size: 20px;
	padding: 10px;
	box-sizing: border-box; /*szerokosc pola formularza stala - nie zalezna od rozmiaru zawartosci*/
	outline: none; /*jest to obramowanie oznaczjace aktywne pole formularza - tzn to pole w ktore aktualnie cos jest wpisywane   - tu wylaczamy domyslny outline*/

}
	
	
input[type=text]:focus
{

	border: 2px solid #5EBAE9; /*obramowanie*/
	background-color: #DFEEF7; /*kolor tla*/
	color: #356595;/*kolor wpisywanego tekstu*/
}	
	
	
	
input[type=submit]
{
	width: 300px;
	background-color: #00874D;
	font-size:20px;
	color: white;
	padding: 15px 10px;

	margin-top: 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer; /*po najechaniu kursorem na przycisk zmienia sie jego wyglad*/
	letter-spacing: 2px; /*odstep miedzy literami*/
	outline: none; /*jest to obramowanie oznaczjace aktywne pole formularza - tzn to pole w ktore aktualnie cos jest wpisywane   - tu wylaczamy domyslny outline*/
	
}

/*efekty po najechaniu kursorem na przycisk submit*/
input[type=submit]:hover
{
	background-color: #006E3E;
}


	


select
{
	
	width: 300px;
	background-color: #F5F5F5;
	color: #888;
	border: 2px solid #ddd;
	border-radius: 5px; /*promien zagiecia obramowania*/
	font-size: 20px;
	padding: 10px;
	box-sizing: border-box; /*szerokosc pola formularza stala - nie zalezna od rozmiaru zawartosci*/
	outline: none; /*jest to obramowanie oznaczjace aktywne pole formularza - tzn to pole w ktore aktualnie cos jest wpisywane   - tu wylaczamy domyslny outline*/
	

	
}

select:focus
{

	border: 2px solid #5EBAE9; /*obramowanie*/
	background-color: #DFEEF7; /*kolor tla*/
	color: #356595;/*kolor wpisywanego tekstu*/
}	

.formularzOpis{
	display: inline-block;
	width:300px;
	text-align: left;
	margin: 10px;
	
	
}

